# Project exclude paths
C:\Users\PC\Documents\eclips-workspace\Algorithm\Algorithm.iml
C:\Users\PC\Documents\eclips-workspace\Algorithm\untitled104.iml
/out/
/.idea/
/.idea/codeStyles/
/.idea/codeStyles/workspace.xml